<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="listLogin">
                @Html.Label("Username:", new { @class = "label"})
                @Html.TextBox("username", "", new { id = "txtUsername", @class = "form-control input-sm" })
            </li>
            <li class="listLogin">
                @Html.Label("Password:", new { @class = "label" })
                @Html.TextBox("password", "", new { id = "txtPassword", type = "password", @class = "form-control input-sm" })
            </li>
            <li class="listLogin">
                <br />
                <input type="button" value="Login" id="btnLogin" class="btn btn-sm btn-default" />
            </li>
        </ul>
    </div>
</div>